[2012-09-12 16:57] sebpiq opened #4 "Slash in front of dollar vars should be removed"
PD saves dollar vars with a slash in front. When parsing a patch file, this has to be removed

[2012-09-14 05:07] sebpiq opened #5 "Abbreviations"
Implement abbreviations for objects names, and `bang`/`float`/`symbol`/... arguments.

[2012-09-14 05:08] sebpiq opened #6 "Subpatches"
Implement support for subpatches.

[2012-09-14 05:08] sebpiq opened #7 "Abstractions"
Implement support for abstractions

[2012-09-14 05:10] sebpiq opened #8 "Connecting objects in GUI is a bit flaky"
Sometimes / on some browsers it works, sometimes it just doesn't.

[2012-09-14 05:12] sebpiq opened #9 "New build system"
Probably using Grunt.

[2012-09-14 05:15] sebpiq opened #10 "Automate tests and builds"
Maybe setup a CI server somewhere ?

[2012-09-14 05:27] sebpiq opened #11 "Code review, JSLint"
There's quite a bit of legacy stuff in the code which could be optimized or just removed. Also JSLint the whole project before it's too late.

[2012-09-14 05:28] sebpiq opened #12 "Demo on using Processing.js"
Make a simple demo with Processing.js

[2012-09-18 16:54] #4 closed, assigned to nobody

[2012-09-18 17:16] sebpiq opened #13 "Object search box in simple GUI"
Search box on the top of the list of objects.  Filters the list of objects as you type.

[2012-09-23 14:32] sebpiq opened #14 "Panning in simple GUI"
With bigger patches it is a pain in the s to debug, cause you cannot pan currently.

[2012-09-23 15:04] sebpiq opened #15 "Better management for named objects in patch"
Named objects are not managed so well right now : send, receive, arrays, etc ... with send/receive it can cause bugs w/ dynamic patching. This needs to be thought through and redesigned.

[2012-09-23 16:06] #12 closed, assigned to nobody

[2012-09-25 12:35] sebpiq opened #16 "[hip~] and [lop~]"
Chris had implemented them, it is still available here : https://github.com/sebpiq/WebPd/blob/master/src/objects.old.js#L565
shouldn't take too much time to port those.

[2012-09-28 05:43] sebpiq opened #17 "[adc~] ... for fun with the mic"
http://www.html5rocks.com/en/tutorials/getusermedia/intro/

[2012-09-28 14:13] sebpiq opened #18 "[tabread4~] for sample fun"

[2012-10-11 19:53] #9 closed, assigned to nobody

[2012-10-11 20:59] #10 closed, assigned to nobody

[2012-10-11 21:17] #11 closed, assigned to nobody

[2012-10-11 21:19] sebpiq opened #19 "Fix build in Travis"
1) Travis build is failing because linting is too restrictive. All sane lint errors have been corrected, the ones that are left are made on purpose : find a way to tell lint to ignore those !

2) test for [noise~] is failing 1:2 times. Find a better test.

[2012-10-11 21:20] #14 closed, assigned to nobody

[2012-10-11 21:20] #8 closed, assigned to nobody

[2012-10-11 21:22] sebpiq opened #20 "Link to roadmap, changelog"
Link to roadmap in README. Write a changelog.

[2012-10-12 05:48] sebpiq opened #21 "Test coverage"
Add test coverage to build process

[2012-10-12 05:57] sebpiq opened #22 "Driver for Node.js"
For building desktop applications with WebPd.

[2012-10-15 07:49] sebpiq opened #23 "Change Events mixin to node.js compatible EventEmitter"
good candidate : https://github.com/hij1nx/EventEmitter2

[2012-10-15 16:37] sebpiq opened #24 "Compile dspTick methods"
Right now, all `dspTick` functions redefine all variables they need at each tick, example :

[code]

[2012-10-15 16:47] #15 closed, assigned to nobody

[2012-10-15 17:00] sebpiq opened #25 "Licensing issues"
Find out about what's wrong, what's right when using MIT-licensed libs like `sink.js` or `eventemitter2.js` What's needed ? Should I include their licenses as well ? Can I distribute under BSD ?

[2012-10-15 19:09] #23 closed, assigned to nobody

[2012-10-16 16:23] sebpiq opened #26 "[vline~] because it's so much simpler than [line~]"

[2012-10-16 16:24] sebpiq opened #27 "[phasor~]"

[2012-10-17 12:22] sebpiq opened #28 "Benchmark to help optimization"
Do some dsp intensive stuff with different objects measure time, and evaluate optimizations.

[2012-10-17 13:39] sebpiq opened #29 "Handle GUI elements when parsing patch file"
At least increment the object's id when an element couldn't be created, otherwise there'll just be a whole in ids and connections as written in the patch file are wrong.

[2012-10-17 16:21] #27 closed, assigned to nobody

[2012-10-17 17:26] sebpiq opened #30 "export patches"
Right now, there is functionality for importing patches but not exporting.

[2012-10-18 19:37] sebpiq opened #31 "DSP object should be able to break dsp calculation"
That's an idea for optimization. For example if [*~] has a value of 0, no need calculating upstream.

[2012-10-20 11:17] #16 closed, assigned to nobody

[2012-10-20 11:23] #20 closed, assigned to nobody

[2012-10-21 15:29] sebpiq opened #32 "[delread~] and [delwrite~]"

[2012-10-27 19:38] husk00 opened #33 "data delay between processing and pd"
basing on your Storm processing example I'm trying to make something similar. Right now delay time of a bang from processing to pd is like 500ms. There is a way to improve it? I did something wrong? Does is it a pd.js issue?
thanks a lot
Luca

[2012-10-29 21:26] #32 closed, assigned to nobody

[2012-10-29 22:20] sebpiq opened #34 "[lop~] and [hip~] take message in dsp inlet"
That's ugly, but that's how it is ...

[2012-10-30 06:14] #33 closed, assigned to nobody

[2012-10-30 07:39] sebpiq opened #35 "[osc~] and [phasor~] phase reset"

[2012-11-02 15:07] sebpiq opened #36 "Find a JavaScript implementation of node's `util.inherits`"
To remove some of the code in main.js + make it node compatible

[2012-11-05 01:06] husk00 opened #37 "set $1 message"
Hi, I'm trying to replicate expr 1-$1 object and using set $1 message to achieve this. But I get ths error:
Uncaught TypeError: Cannot call method 'i' of null

I guess  set message is not  working. Is this a bug? is it reported somewhere?
thanks
Luca

[2012-11-05 12:45] sebpiq opened #38 "delwrite/delread is not very precise"
It works fine for big delays, but for delays of a few milliseconds, there's something wrong. For exampe, with the  demo no-input : https://www.dropbox.com/sh/bv12fwtjemgwspm/Nx-UgL_tBx/no-input   impossible to have the exact same result as in Pd.

[2012-11-05 18:09] #37 closed, assigned to nobody

[2013-02-12 12:24] xseignard opened #39 "Using webpd with require.js"
Hello,
I'm stuck in using webpd with require.js. So far I do a simple and not working :
[code]

(The file index is actually webpd, i'm using twitter bower to deal with my dependencies, and if I include this file in the header of my html page, it's working).

I think I need to configure a require.js shim config (http://requirejs.org/docs/api.html#config-shim) for webpd, but I don't know how.

Any i

[2013-04-21 07:47] sebpiq opened #40 "Bug with +~ (and probably other dsp arithm)"
When dsp connected to left inlet and message to right inlet works, but the other way around doesn't.

[2013-06-20 20:22] #36 closed, assigned to nobody

[2013-06-20 20:22] #25 closed, assigned to nobody

[2013-06-20 20:23] #6 closed, assigned to nobody

[2013-06-20 20:24] #19 closed, assigned to nobody

[2013-06-24 21:06] #24 closed, assigned to nobody

[2013-06-26 08:40] #31 closed, assigned to nobody

[2013-06-26 08:41] #26 closed, assigned to nobody

[2013-06-26 08:41] #7 closed, assigned to nobody

[2013-06-26 08:42] #13 closed, assigned to nobody

[2013-08-12 16:42] zya opened #41 "[line~] ramp up ramp down in one message"
in PD you can have two ramps in one message for line~.
For example of line~ receives "1 0, 0 100" will go to 1 immediately and ramp down to 0 in 100ms.
line~ in  WebPd requires two separate messages.

![screen shot 2013-08-12 at 17 42 11](https://f.cloud.github.com/assets/4020253/948718/2a09229a-036e-11e3-90f8-8ce942da4c36.png)

[2013-08-12 16:44] zya opened #42 "[count] object, for sequencing"
i think it would be really useful to have count object. for sequencing and scheduling.
now timing is the most complicated thing in web audio.

[2013-08-12 16:51] zya opened #43 "Patch output to Web Audio API Audio Node input."
Is there any way to connect the output from the patch and connect to an Audio Node instead of connecting directly to destination?
It would be nice to have this feature specially to use the convolver node and scriptprocessor node.

[2013-08-16 12:41] #42 closed, assigned to nobody

[2013-08-21 04:36] dami1 opened #44 "problem with patch.send"
Hi,

I am having some problems after including the patch.send on my processing sketch. If I upload it without the patch.send it works fine.... Any idea why?

thank you, Andre

PImage fig;
int raio= 60;
PVector location0;
PVector location1;
PVector location2;
PVector location3;
PVector location4;
PVector location5;
float x0 = 0;
float y0 = 0;
float x1 = 0;
float y1 = 0;
float x2 = 0;
float y2 = 0;

[2013-09-03 09:04] #44 closed, assigned to nobody

[2013-09-03 09:08] sebpiq opened #45 "Write the code with support for asm.js in mind"
Take a look, how it works exactly

[2014-03-31 11:33] vmarnauza opened #46 "No audio sink available"
Hi,

I'm getting the "No audio sink available" error when opening my WebPd project in Firefox 28.0. It works fine in Chrome and Safari. What could be causing this and how could I fix it?

[2014-09-20 11:18] sardinax opened #47 "I'm not listening any webpd demo/example"
I use Windows 8 and chrome's last version (also in Firefox), but i'm not listening any WebPd demo or my own examples.

I'm getting this error from chrome's console: Uncaught [object Object] webpd-0.2.2.min.js:1

Why it's happening? I don't find any issue in internet with that...

[2014-10-13 07:55] #47 closed, assigned to nobody

[2014-10-13 07:58] #46 closed, assigned to nobody

[2014-11-11 15:26] Reinissance opened #48 "No audio sink solved... but now ios is not working anymore."
thanks a lot, firefox is supported now. But how may come now ios safari is not working anymore? with the previous version it was, even in ios 8, although you had to clean browser history before reloading a page, but now it doesn´t any more. anybody can confirm this?

[2015-01-26 10:46] coderofsalvation opened #49 "demos/simple-gui/simple-gui.html canvas clipped"
fix: demos/simple-gui/simple-gui.html the svg#canvas needs 'width:100%' and 'height:100%'

otherwise it won't render everything (at least in chrome Version 39.0.2171.71 (64-bit))

[2015-01-26 13:07] sebpiq commented on #49
Cool! Thanks! Anyways, that demo is kinda legacy ... I hope in the future to get a proper kick ass GUI for WebPd. Probably based on https://github.com/the-grid/the-graph

But I'll apply your fix right now.

[2015-01-26 13:07] #49 closed

[2015-01-26 13:55] coderofsalvation commented on #49
cool thanks.
Having a nice editor for PD in the browser would be great.
Did you check this:

http://sebpiq.github.io/WebPd/demos/simple-gui/simple-gui.html

Btw. here are some other cool dataflow editors:

On Mon, Jan 26, 2015 at 2:07 PM, Sebastien Piquemal <
notifications@github.com> wrote:

[2015-01-26 13:55] coderofsalvation commented on #49
https://github.com/engijs/engi
https://github.com/pboyer/flood
https://github.com/nickretallack/Visual-Language
https://github.com/Gregwar/blocks.js

[2015-01-26 14:01] coderofsalvation commented on #49
oh wait, I'm mixing things up here.
I thought I was talking to the maintainer of the nodejs 'port'-module
(which connects to PD).
Forget about what I said :D

hope all is well,

Leon

On Mon, Jan 26, 2015 at 2:55 PM, Leon van Kammen <leonvankammen@gmail.com>
wrote:

[2015-01-27 09:41] sebpiq commented on #49
Anyways, thanks for this list :)
I'll check out all those alternatives!!!

On Mon, Jan 26, 2015 at 3:01 PM, coderofsalvation <notifications@github.com>
wrote:

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.com/sebpiq
 ----- http://funktion.fm

[2015-01-28 10:58] coderofsalvation commented on #49
np :)

btw. just stumbled upon this, ever seen this? :

http://sebpiq.github.io/pd-fileutils/randomDrone.html

it seems to be part of this javascript package:

https://www.npmjs.com/package/pd-fileutils

On Tue, Jan 27, 2015 at 10:41 AM, Sebastien Piquemal <
notifications@github.com> wrote:

[2015-01-28 14:13] sebpiq commented on #49
Yeah, its mine :)

On Wed, Jan 28, 2015 at 11:58 AM, coderofsalvation <notifications@github.com

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.com/sebpiq
 ----- http://funktion.fm

[2015-01-28 14:18] coderofsalvation commented on #49
ah ok :)
in that case, keep up the good work :D

On Wed, Jan 28, 2015 at 3:13 PM, Sebastien Piquemal <
notifications@github.com> wrote:

[2015-02-18 19:28] coderofsalvation commented on #49
don't know if you already checked this, but just in case:

https://enzienaudio.com
https://enzienaudio.com/dev/api.html

On Wed, Jan 28, 2015 at 3:18 PM, Leon van Kammen <leonvankammen@gmail.com>
wrote:

[2015-02-18 21:15] sebpiq commented on #49
Yeah, they are friends. Plus the patch rendering is provided by me :)
https://github.com/sebpiq/pd-fileutils

On Wed, Feb 18, 2015 at 9:28 PM, coderofsalvation <notifications@github.com>
wrote:

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.com/sebpiq
 ----- http://funktion.fm

[2015-04-29 20:03] #5 closed

[2015-04-29 20:03] #17 closed

[2015-04-29 20:03] #18 closed

[2015-04-29 20:03] #21 closed

[2015-04-29 20:03] #22 closed

[2015-04-29 20:03] #28 closed

[2015-04-29 20:03] #29 closed

[2015-04-29 20:03] #30 closed

[2015-04-29 20:03] #34 closed

[2015-04-29 20:03] #35 closed

[2015-04-29 20:03] #38 closed

[2015-04-29 20:03] #39 closed

[2015-04-29 20:03] #40 closed

[2015-04-29 20:03] #41 closed

[2015-04-29 20:03] #43 closed

[2015-04-29 20:03] #45 closed

[2015-04-29 20:03] #48 closed

[2015-04-30 10:04] sebpiq opened #50 "API methods to register abstraction and load patch from an url"
It should be possible to use abstractions without having to explicitly declare them.

[2015-04-30 10:48] sebpiq opened #51 "implement [adc~]"

[2015-04-30 10:55] sebpiq opened #52 "Better metro and time scheduling in general"
Right now metro is not very tight. This applies to timing in general. This is probably due to the ugly hack used to schedule things in the future by using a global `futureTime`. The time at which a message must be executed should probably be embedded in the message itself. For example :

[code]

[2015-04-30 14:37] sebpiq opened #53 "Cross-origin requests for soundfiler"
The soundfiler should be able to get any resources from the Internet (e.g. SoundCloud) providing the server implements CORS.

[2015-04-30 17:43] sebpiq opened #55 "Test the examples on Safari, Safari for iOS and Android"
The examples probably need to include AudioContext monkey patch in order to work on prefixed implementations of Web Audio API. Also add a start button so that they will work on mobile.

[2015-05-01 14:27] sebpiq opened #56 "Handle browser compatibility better"
Bundle WebPd with AudioContext monkey patch to support as many browsers as possible.

When no Web Audio API, either print an error, or show an alert?

[2015-05-01 14:28] sebpiq opened #57 "Debugging mode, with a console such as the one in Pd"
Maybe show the alert if not supported only in debug mode (see#56)

[2015-05-02 18:36] anibalzorrilla opened #58 "Browser window wide"
Dear friends, I did all like it is detailed in the readme file, but the windows of my browser remains white... in myPatch I put the PureData/3.audio.ex/A09... I use Chrome and Firefox, the last versions... I am in W7, here I share the console:

![python_cmd](https://cloud.githubusercontent.com/assets/1836447/7442272/c78c8244-f0e0-11e4-8c17-8139a3daf775.gif)

[2015-05-04 07:08] sebpiq commented on #58
Hi @anibalzorrilla and sorry for the slow answer. There is several problems here. I think everything works (Python and so on), but the patch you are using won't work for several reasons :

1. it contains objects that don't exist in WebPd (because not implemented yet, or because they are abstractions), [tabwrite~], the abstraction [output~]. Remove them and the patch should load fine. If you check

[2015-05-04 07:08] #58 closed

[2015-05-04 11:21] sebpiq opened #59 "Browser tests all failing on firefox"

[2015-05-04 11:28] #56 closed

[2015-05-04 12:23] sebpiq commented on #55
probably fixed with this : 684a4092a2885cf6ebb6d355a42fb08e14c25079

[2015-05-04 18:21] sebpiq commented on #55
Apparently working on iPhone

[2015-05-04 18:21] #55 closed

[2015-05-04 23:23] anibalzorrilla commented on #58
Thanks a lot, I will try, best regards __________________________________________________
Aníbal N. Zorrilla
Pianista y compositor
Docente Investigador UNA, Departamento de Artes del Movimiento

Blog
Teoría y Práctica del RitmoInTAD

 
      De: Sebastien Piquemal <notifications@github.com>
 Para: sebpiq/WebPd <WebPd@noreply.github.com>
CC: Aníbal Zorrilla <anibalzorrilla@yahoo.com.ar>
 Enviado: L

[2015-05-05 05:25] sebpiq commented on #58
Cool. Do tell me if it still doesn't work, I can have a look.

[2015-06-11 06:07] WnP commented on #59
works here on firefox 38.0.1

[2015-06-21 03:27] plush2 opened #60 "vague "Uncaught Error: unknown object 0" in console"
I have a patch that as near as I can tell should work. All objects are present in the supported list, there are 2 abstractions and 2 subpatches. I've been stabbing around in the dark trying to determine what "object 0" could possibly be.

[2015-06-22 08:15] sebpiq commented on #60
Could you please send me you patch and abstractions? I'll see what's wrong and fix this error message. Thanks!

[2015-06-25 18:44] r-b-g-b commented on #60
I've been getting this message as well. Here's a minimal example that shows it... [webpd-test](https://github.com/r-b-g-b/webpd-test)
Thanks for WebPd--it's a really great tool!

[2015-06-26 07:31] sebpiq commented on #60
Ok, I'll have a look!

[2015-06-26 08:02] sebpiq commented on #60
@r-b-g-b yes, got it ... this is this bug : https://github.com/sebpiq/pd-fileutils/issues/20  Basically right now I don't support custom size for objects (you had changed the size of your floatatoms). I made a pull request to your code, if you merge it it should work fine now. I'll work on the bug now as well, so this shouldn't happen again in the future!

[2015-06-26 08:02] sebpiq commented on #60
Also @plush2 it would be great if you could send me something so I could look into it, and if it is a bug fix it ... thanks!!!

[2015-06-26 19:40] r-b-g-b commented on #60
@sebpiq Amazing, thanks so much for your quick reply!

[2015-06-26 19:52] plush2 commented on #60
I've managed to put an example of an "invalid outlet 0" error up here, [webpd-experiments](https://github.com/plush2/webpd-experiments). I sent some examples over email as well but I figured I should post something here as well.

Thanks for keeping the development of a pd for web audio api going.

[2015-06-27 16:17] sebpiq commented on #60
@r-b-g-b you're welcome!
@plush2 thanks for this! I got the mail too. I'll have a look at it in the next couple of days!

[2015-06-29 10:07] sebpiq opened #61 "Implement [route]"

[2015-06-29 10:41] sebpiq commented on #60
Fixed now! Thanks to you guys @plush2 @r-b-g-b I fixed 2 bugs :D so keep on using WebPd and sending me errors to help me make it better!

[2015-06-29 10:41] #60 closed

[2015-06-29 10:49] sebpiq commented on #59
Strange, it fails for me on ff 38.0.0 and ff 41 on Ubuntu. What OS are you using?

[2015-07-23 05:54] toolness opened #64 ""test/browser/dsp/+~-~*~-tests.js" doesn't exist on Windows git checkouts"
When I run `npm run test.browser.build` on Windows, I get the following error in the gulp output:

[code]

It looks like this is because [`test/browser/dsp/+~-~*~-tests.js`](https://github.com/sebpiq/WebPd/blob/master/test/browser/dsp/%2B~-~*~-tests.js) simply **doesn't exist** in my checkout. I suspect that this is because `*` is a forbidden character in DOS/Windows filenames.

Can this file be r

[2015-07-24 13:35] sebpiq commented on #64
hmm strange!!! What happens if you download the file manually, rename it to something else, update the name of the imported tests [from here](https://github.com/sebpiq/WebPd/blob/master/test/browser/dsp/index.js#L8) and try to run the tests? I'd like to be sure that the name is indeed the problem.

[2015-07-24 13:37] sebpiq opened #65 "mention all contributors"

[2015-07-24 13:39] sebpiq commented on #65
Using gulp-contribs like in here : https://github.com/sebpiq/node-web-audio-api/blob/master/gulpfile.js

[2015-07-24 14:44] toolness commented on #64
Ah, good idea--I just did that and it worked!

I can issue a PR if you want, just let me know what you want the new file name to be.

[2015-07-24 20:31] sebpiq commented on #64
That would be great! We can go for `arithm-tests.js` instead of `+~-~*~-tests.js`. But I think I will reorganize these tests in the future. But for the moment this renaming will do the trick! Thanks a lot

[2015-07-24 20:47] toolness opened #67 "tests fail on node 0.12"
I didn't report this before because I thought it might be Windows-only, but now I'm trying it on an OS X system and I'm getting the same error when running `npm test`:

[code]

I'm using Node 0.12.7 and npm 2.11.3.

[2015-07-24 20:48] #64 closed

[2015-07-24 20:53] sebpiq commented on #67
Yes ... that might be because node 0.12 breaks quite a few things. For the
moment I'd recommend testing with 0.10. You can install several node
versions and switch between them easily by using nvm. I'll open an issue
about that.

On Fri, Jul 24, 2015 at 10:47 PM, Atul Varma <notifications@github.com>
wrote:

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.com/sebpiq
 ----- http://f

[2015-07-24 20:54] toolness commented on #59
They're failing for me on ff 39.0 on OS X, but not all of them--`dsp.phasor~`, `dsp.noise~`, `dsp.delwrite~/delread~`, and a few others all succeed, but a bunch of others fail.

[2015-07-25 07:30] toolness commented on #67
Ah, ok. Would you accept PRs that make everything work on Node 0.12, or do you prefer to stay with 0.10 for now?

[2015-07-25 08:52] sebpiq commented on #67
Absolutely!!! It'd be awesome if you could fix it and make a pull
request!!! Looking forward to it :)

On Sat, Jul 25, 2015 at 9:30 AM, Atul Varma <notifications@github.com>
wrote:

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.com/sebpiq
 ----- http://funktion.fm

[2015-07-25 09:51] sebpiq commented on #59
Yeah ... There is a bunch of Web Audio API bugs in firefox which explain
that it doesn't work great. But there might be also some real bugs ... But
since it doesn't run at all for me on Ubuntu, it is hard to untangle this.
I'll leave the issue open for the moment, and I'll come back to it later.

On Fri, Jul 24, 2015 at 10:54 PM, Atul Varma <notifications@github.com>
wrote:

--

*Sébastien Piquema

[2015-07-25 11:06] toolness commented on #67
Ok! I just submitted sebpiq/pd-fileutils#27 which fixes all the tests in this project.

(I also submitted sebpiq/pd-fileutils#26, which makes all of that project's tests work in Windows :bowtie:)

[2015-07-25 12:05] #67 closed

[2015-07-25 12:07] sebpiq commented on #67
merged!

[2015-08-08 19:09] lzref opened #68 "The future of WebPd"
Hello.

First let me express my admiration for the amazing work you've done. An amazing idea of marrying PureData and web, good development practices, many PD objects already implemented.

I looked through the examples folder and I noticed they weren't interactive (they're just compiled to SVG). Now of course this is a work in progress but I was wondering what kind of vision you have for it. If yo

[2015-08-19 11:00] sebpiq commented on #68
Sorry for the very slow answer, busy summer ...

First, thanks very much for this message. I think pretty much all the things you've mentioned are on my wishlist :

- Web-based Pd graphical interface : which could easily be much better than the desktop graphical interface, more easy to customize and update ..., and a nice tool to share and display patches.
- Better Pd objects which improve some of

[2015-08-24 21:00] graphographer opened #69 "[phasor~] is not an exact sawtooth"
One can hear this in http://sebpiq.github.io/WebPd/examples/tabread-phasor/ at least on latest Firefox and Chrome. A similar thing happens in all my own patches too.

Just a guess, but maybe this is some sort of float precision issue? Thanks for all the hard work, though! I've been able to work around this by sticking to [line~] but I thought I'd point out this issue.

[2015-08-25 05:45] sebpiq commented on #69
Yeah ... it's a "known issue". It is because the web audio API's
oscillators are band-limited, so basically the phasor is not a real phasor.
It is a bandlimited sawtooth, which looks like this :
http://arachnoid.com/maxima/graphics/sawtooth_wave_graph.png (but in the
other direction of course). I have another implementation which should
work, but doesn't in firefox (
https://github.com/sebpiq/WebP

[2015-08-25 08:34] sebpiq opened #70 "centralized management of EventEmitters"
Having a centralized management of event emitters (for example `BaseNode.getEventEmitter`) would allow to register all event emitters created and automatically remove event listeners when the node is destroyed (which is important to avoid memory leaks).

[2015-08-25 08:37] sebpiq opened #71 "uniformized management of future events"
messges should probably all transformed internally so they contain a timetag (at the moment we use this ugly hack : https://github.com/sebpiq/WebPd/blob/master/lib/objects/dsp.js#L77).

[2015-08-25 08:41] sebpiq opened #72 "better library structure and strict separation of DSP code from all the rest"
Because :
- there is different ways DSP could be implemented : JavaScript + ScriptProcessor or native AudioNodes, or node.js version of WebPd?
- different WebPd distributions possible (AudioNodes version, exposing Web Audio API AudioNodes a la Pure Data ; Vanilla, reduced Vanilla, ...)

So WebPd should be just the core library + glue objects, and different distributions of WebPd should implement D

[2015-08-29 12:53] sebpiq opened #73 "the whole pd-fileutils (along with d3 and other stuff) shouldn't be included in the build"

[2015-09-01 19:47] sebpiq opened #74 "Make it more easy to extend WebPd with new objects (externals)"
It is pretty easy already. However there should be a public API for this.

[2015-09-12 17:52] #74 closed

[2015-09-13 18:06] jeffbonhag opened #75 "Implement [snapshot~]"
Hi, I want to echo the sentiment (expressed by @lazarchik) that it's awesome that you've picked up this project.  Pd on the web is an incredible idea -- I think it has the potential to address a sound-space that p5.js/Processing doesn't quite reach for me.

I use `snapshot~` a lot in my patches to get an instantaneous measurement from an oscillator, and would love to see it in WebPd.  Is there a t

[2015-09-13 18:14] jeffbonhag opened #76 "Which license should WebPd use?"
`COPYING` and `COPYING.LESSER` specify GPL and LGPL for the license, and `package.json` says 'Standard Improved BSD License'.

Which is correct?  Let me know and I'll submit a pull request.

[2015-09-14 16:09] sebpiq commented on #76
I'll see with @chr15m cause I have even forgotten what license we use exactly ...

[2015-09-14 16:13] sebpiq commented on #75
To me it is more a problem of time indeed. I don't think it is that hard to implement... If you can do a bit of programming, take a look at this new example I just published, on how to develop your own externals : https://github.com/sebpiq/WebPd/blob/master/examples/external2/index.html#L33

This should be enough for you to understand how to implement your own rudimentary [snapshot~] and register

[2015-09-17 08:30] sebpiq commented on #70
fixed with 176abbc0402f88b638b8b869ba73a77cbf323173

[2015-09-17 08:30] #70 closed

[2015-09-20 13:59] #76 closed

[2015-09-20 14:00] #52 closed

[2015-09-20 14:00] #71 closed

[2015-09-21 04:22] jeffbonhag commented on #76
:+1:

[2015-09-21 10:56] thisconnect commented on #76
Same as Pd would be nice

[2015-09-21 23:27] sebpiq opened #77 "UTF8 characters causing problems with Python server"
Because built WebPd file contains some UTF8 characters, we need to run this on 2.x `python -c "import SimpleHTTPServer; m = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map; m[''] = 'text/plain'; m.update(dict([(k, v + ';charset=UTF-8') for k, v in m.items()])); SimpleHTTPServer.test();"`
 in order to make the Python server work with UTF8. Find the equivalent python 3.x command and update

[2015-09-23 12:42] sebpiq opened #78 "Support for commas in messages"

[2015-09-23 17:21] WJWilkinson opened #79 "[loadbang] doesn't work when in a subpatch"
Loadbang works fine when in the main patch, but doesn't fire when it is located in a subpatch.

[2015-09-23 17:23] WJWilkinson commented on #79
Loadbang works fine when in the main patch, but doesn't fire when it is located in a subpatch.

[2015-09-28 17:02] #79 closed

[2015-09-29 21:38] sebpiq commented on #72
fixed with 3efd66546857679f0ec6ab5c95443cb85052dcd8

[2015-09-29 21:38] #72 closed

[2015-09-30 16:10] #73 closed

[2015-09-30 17:56] #65 closed

[2015-10-01 10:11] sebpiq commented on #50
Tricky one ...

1. it is no possible to list files from any server, so we can't add a directory to the path like in Pd. We can only register single abstractions, with full abstraction url, and the use of doing that is rather limited.

2. at the moment there is no asynchronous call in WebPd's API (`loadPatch`, `registerAbstraction`, ...)

This would make more sense in conjunction with an API change

[2015-10-04 10:27] sebpiq commented on #77
With d3 gone from the build ba88ade4106da6bd0dade4fc4fe304cc9207e3c3 there should be no problematic chars left.

[2015-10-04 10:27] #77 closed

[2015-10-06 16:02] Avant-Contra opened #80 "There is only a 'beep' on Pd.start(), then nothing. And no error info in chrome console."
Hi @sebpiq ,

I made a demo here:
http://chaostao.org/pd/
pd file:
http://chaostao.org/pd/patches/chaos_0.925_without_tab.pd

It is supposed to compute midi sequences and then play sound.You can download the pd file and play it in Pd vanilla.
There is only a 'beep' on Pd.start(), but I'm not sure where the error/bug is, because there is no error info in chrome console.
But there is a warning in fi

[2015-10-07 09:21] sebpiq commented on #80
I've found the problem. There seems to be a bug with toggle. If you replace the toggle in your patch by a message instead `[1(` to start the `[metro]` on load it works fine.

I'll fix the bug now!

[2015-10-07 10:29] Avant-Contra commented on #80
Oh cool, I replaced the toggle with a message instead [1( , and it works fine ~

[2015-10-07 10:44] #80 closed

[2015-10-07 10:45] sebpiq commented on #80
Ok, now it is fixed! The new build https://github.com/sebpiq/WebPd/tree/master/dist shouldn't have the bug anymore

[2015-10-07 10:47] Avant-Contra commented on #80
Great!!

[2015-10-07 10:58] sebpiq commented on #80
Nice patch by the way :)

[2015-10-13 04:15] ablanton opened #81 "WebPd Broken with mobile safari update"
Hi Everyone,

First amazing work! this project is spectacular. I had a prototype up and running on my phone a week ago and everything is seamless.

I updated mobile safari two days ago and now my prototype is not working. I'm not sure where this issue is coming from but if I can be of any help please let me know! I look forward to working with webPd substantially in the future.

[2015-10-13 09:39] sebpiq commented on #81
Hi @ablanton !
I think there was mention on the web audio slack group of a new bug in Safari on iOS9, which would cause the audio to not start at all.
At first, I didn't really take it seriously, but I guess it might real :)
I'll have a chat with other people that had this same issue, and see how to fix it.

[2015-10-13 17:34] ablanton commented on #81
Great Sebastien,

Let me know if I can be of any help, I'm not that great with the inner
workings of audio in JS but I really like this project. I know audio is
working in p5 on iOS9, it might be helpful to look at their implementation
strategy.

On Tue, Oct 13, 2015 at 2:39 AM, Sebastien Piquemal <
notifications@github.com> wrote:

--
åπ∆®£w °ı• ß|ªπ†°n
andrewblanton.com

[2015-10-14 00:52] notthetup commented on #81
Here's the relevant 'bug' from in WebKit. https://bugs.webkit.org/show_bug.cgi?id=149367

[2015-10-18 16:28] sebpiq opened #82 "It should be easy to directly connect the output of a patch to other Web Audio nodes outside of WebPd"
for example `patch.out.connect(faustEffect)`

[2015-10-18 17:25] sebpiq commented on #81
Ok, I added the fix to the examples. @ablanton could you confirm that any of the examples would run on your phone? I don't have an iOS 9 device at hand to do some testing!

You can try with this one for example : http://sebpiq.github.io/WebPd/examples/phasor/
or this one ; http://sebpiq.github.io/WebPd/examples/delays/

[2015-10-18 18:43] ablanton commented on #81
Hi Sebastien,

It's still getting caught on page load. It just says loading, and this is
similar behavior in mobile chrome. Works well on a regular browser, did you
test against older versions of mobile safari?

On Sun, Oct 18, 2015 at 10:25 AM, Sebastien Piquemal <
notifications@github.com> wrote:

--

andrewblanton.com

<http://andrewblanton.com/portfolio.html>

[2015-10-18 18:45] sebpiq commented on #81
Oh Wait! So you mean you don't even see the "start" button? It crashes on
"loading"?

On Sun, Oct 18, 2015 at 9:43 PM, åπ∆®£w °ı• ß|ªπ†°n <
notifications@github.com> wrote:

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.com/sebpiq
 ----- http://funktion.fm

[2015-10-18 18:48] ablanton commented on #81
yes exactly, like (and correct me if i'm wrong) it is stuck on Pd.start()
on mobile and cannot proceed to load anymore of the page.

On Sun, Oct 18, 2015 at 11:45 AM, Sebastien Piquemal <
notifications@github.com> wrote:

--

andrewblanton.com

<http://andrewblanton.com/portfolio.html>

[2015-10-18 20:15] sebpiq commented on #81
No actually if it is stuck on "loading" and you don't even get the start
button, it means it is stuck before `Pd.start` ... That is weird.

What about now, is it working? If not, I'll have to get an ios9 device next
week, and see what's wrong ...

On Sun, Oct 18, 2015 at 9:48 PM, åπ∆®£w °ı• ß|ªπ†°n <
notifications@github.com> wrote:

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.

[2015-10-18 21:31] ablanton commented on #81
unfortunately the problem persist...

On Sun, Oct 18, 2015 at 1:15 PM, Sebastien Piquemal <
notifications@github.com> wrote:

--

andrewblanton.com

<http://andrewblanton.com/portfolio.html>

[2015-10-19 04:22] sebpiq commented on #81
Dammit ... ok I'll find a device and solve this.

On Mon, Oct 19, 2015 at 12:31 AM, åπ∆®£w °ı• ß|ªπ†°n <
notifications@github.com> wrote:

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.com/sebpiq
 ----- http://funktion.fm

[2015-10-19 05:01] ablanton commented on #81
Grrr ... Sorry, such a pain in the ass. I will say the p5 sound lib is
still working, I'm not sure what they are doing differently but this might
be of help!

On Sunday, October 18, 2015, Sebastien Piquemal <notifications@github.com>
wrote:

--

andrewblanton.com

<http://andrewblanton.com/portfolio.html>

[2015-10-19 07:01] notthetup commented on #81
@sebpiq I just tried http://sebpiq.github.io/WebPd/examples/delays/ and http://sebpiq.github.io/WebPd/examples/phasor/ on Safari on OSX, and I'm getting the following two errors..

[code]

Seems unrelated, but that could be the reason why @ablanton wasn't able to run the demos.

[2015-10-19 07:09] notthetup commented on #81
Traced it down to `buffer.start()` being called twice within `_hasSelectiveDisconnect`.

[2015-10-19 07:19] sebpiq commented on #81
Thanks Chnimay! I'm on it... So stupid of me not to have tested on a Webkit browser ... I am in Ubuntu so you know, I don't have that reflex :)

I think the error comes from the AudioContext monkey patch (https://github.com/cwilso/AudioContext-MonkeyPatch/blob/gh-pages/AudioContextMonkeyPatch.js)

which is bundled with WebPd. Let's see if the updated version solves this ...

[2015-10-19 07:23] notthetup commented on #81
@sebpiq No problem. Let me know if you need me to test anything. I have an iPad here as well. Buzz me on WebAudio Slack.

[2015-10-19 07:32] sebpiq commented on #81
Thanks a lot! I might ask you soon, cause I think there is something totally wrong on the WebKit browser I'm trying to test with ...

[2015-10-19 08:11] sebpiq opened #83 "Cross-browser automated testing"
Asked an account to browserstack, hopefully they'll accept.

[2015-10-19 08:13] sebpiq commented on #81
Anyways, this is something that shouldn't happen ... The library shouldn't break at the first API change, without anybody knowing. I've asked a free account for open source to browserstack, and hopefully they'll accept, which means that I'll run automated cross-browser tests there, and I'll be notified if anything breaks in any web browser (created an issue : #83)
Sorry @ablanton , hopefully it di

[2015-10-19 12:18] sebpiq commented on #83
saucelabs offer free testing for OSS projects. I can run tests using this : https://github.com/pbakaus/mocha-sauce

browser tests need to be slightly refactored so that they use the latest build of WebPd instead of a custom browserified version.

[2015-10-19 18:23] mihow commented on #83
Great idea!

[2015-10-19 22:22] ablanton commented on #81
Sebastien! This is totally natural and would be no fun it there were no
issues. I love the library and really appreciate the work you guys are
doing. No, my enthusiasm is not even close to swayed :D

On Mon, Oct 19, 2015 at 1:13 AM, Sebastien Piquemal <
notifications@github.com> wrote:

--

andrewblanton.com

<http://andrewblanton.com/portfolio.html>

[2015-10-20 21:56] taylorbf opened #84 "sending/receiving events to/from individual objects"
I see that many components of WebPd extend node's event emitter. Is it currently possible (if so, is there a best practice?) for sending messages directly to objects? For example, to set a number object's text directly -- I.e. not to send a message not a [receive] object, but directly to the number object?

Likewise, is it possible to receive updates from objects, for example a stream of events fr

[2015-10-21 06:16] sebpiq commented on #84
Hi Ben!

First, if you need to get an object from a patch (say, get all the toggle
objects), you could do :

[code]

Then to each object, you can send a message like this :

[code]

the method `Object.i(<inletId>)` returns an inlet object and the method
`Inlet.message(<args>)` sends a message to that inlet (which will then be
transmitted to the object).

To receive messages, it is slightly harder,

[2015-10-21 06:17] sebpiq commented on #84
Hi Ben!

First, if you need to get an object from a patch (say, get all the toggle
objects), you could do :

[code]

Then to each object, you can send a message like this :

[code]

the method `Object.i(<inletId>)` returns an inlet object and the method
`Inlet.message(<args>)` sends a message to that inlet (which will then be
transmitted to the object).

To receive messages, it is slightly harder,

[2015-10-22 22:57] shamansir commented on #84
Nice, this could help me as well!

[2015-10-23 00:14] taylorbf commented on #84
Yes this worked great! Thanks for the detailed examples.

It allowed me to connect GUI components directly to the WebPd model and even receive visual feedback from the WebPd model as it changes. I've posted this work [here](http://github.com/taylorbf/pdgui).

[2015-10-23 00:14] #84 closed

[2015-11-09 16:36] sebpiq commented on #81
Ok this should be fixed now, and examples should work! This was actually fixed back then already, but we probably got bitten by caching problems, loading old js files that still contained the bug ...

[2015-11-09 16:36] #81 closed

[2015-11-09 19:02] ablanton commented on #81
Excellent, I will test soon.

On Mon, Nov 9, 2015 at 8:36 AM, Sebastien Piquemal <notifications@github.com

--

andrewblanton.com

<http://andrewblanton.com/portfolio.html>

[2015-11-21 19:40] shamansir opened #85 "Skip unknown objects when parsing PD file"
If I load some `*.pd` files in WebPd, it fails to parse them with a message like `Uncaught Error: unknown object env~` and actually seems to fail completely. Would you please wrap [this place](https://github.com/sebpiq/WebPd/blob/master/lib/core/Patch.js#L105) (I guess :) ) with `try/catch`, but yet inform user that object was not parsed.

(Just extracted it from the mail :) )

[2015-11-24 23:29] shamansir opened #86 "Provide access to patch data from a patch instance"
I discovered that in [pdgui](https://github.com/taylorbf/pdgui) example Ben injected (I suppose) his own method named [`Pd.getPatchData`](https://github.com/taylorbf/pdgui/blob/master/js/webpd-latest.js#L331) to get access to a result of `pdfu.parse` and not to re-include `pdfu` itself since it's already securely stored inside `WebPd`.

I think it would be useful to be able to get access to this d

[2015-11-24 23:32] shamansir commented on #86
...or may be there's some easy access to `pdfu` from `Pd` object I haven't noticed.

[2015-11-25 20:10] shamansir commented on #86
Done this in shamansir/WebPd@3ed8936

[2015-11-25 21:20] shamansir commented on #85
Implemented this in shamansir/WebPd@c35e273

[2015-11-26 07:54] sebpiq commented on #86
Hi Anton! Thanks for this. I merged, but I renamed `getPatchData` to `parsePatch`

[2015-11-26 07:54] #86 closed

[2015-11-26 08:05] sebpiq commented on #85
I think it must throw an error if object is not valid, but you should be able to catch this particular error, and let other errors through. e.g.

[code]

On the other hand, you are right that it should catch all errors in a list so that the patch is fully loaded even though there are errors (https://github.com/shamansir/WebPd/commit/c35e273#diff-2aa3848da3dbbf622d74b9cb674db7b0R356)

[2015-11-26 08:06] sebpiq commented on #85
I'll implement this now

[2015-11-26 09:33] #85 closed

[2015-11-26 10:11] sebpiq commented on #85
Ok ... I realized why you need this exactly, and what I did is not going to help you.
Do I understand right that you need to display an object in red dashes when the object doesn't exist (like in Pd) ? In that case, you could for example register an `UnkownObject` external, and patch the `_preparePatch` to replace unknown objects with it. Something like :

[code]

I am conscious this is rather ugl

[2015-11-27 09:14] shamansir commented on #85
Frankly I had a similar code of my own and now I replace it with `WebPd` for a better future. I had the special "object resolver" which I called even while parsing the file. But I forgot that I also need this for parsing stage in case of using WebPd, thank you a lot, I expect to manage that.

Just in case, won't the objects that are unknown break the connection map, which has indexes that include

[2015-11-27 09:14] shamansir commented on #86
Great, thank you!

[2015-11-27 09:26] shamansir commented on #85
I got it, it sums up with `PatchLoadError` if contains something unknown. That's completely right!

[2015-11-29 19:47] shamansir opened #88 "arrayNodeData for graph node could be undefined"
I get the error (fired from [this line](https://github.com/sebpiq/WebPd/blob/1d69154721e6aae3ab7fec421944117f1b0fdfbc/dist/webpd-latest.js#L347)):

[code]

When I load this patch into WebPd (just every possible type of basic PD node in one patch, all in their default condition):

[code]

[2015-11-29 20:00] shamansir commented on #88
Yes, actually the patch with only one Graph node in its default condition fires it:

[code]

[2015-11-30 01:10] shamansir opened #89 "Easier way to know if intel/outlet is DSP kind"
This is secondary, I suppose, but in my case [I am required](https://github.com/shamansir/rpd/commit/b6347d873383bcdfa437c4047235f0b0b5c96e50#diff-7531f3c46121c9428788ed2ba533a3beR218) to check `prototype` of the items from `inletDefs`/`outletDefs`, to know if inlet/outlet is really `DspInlet`/`DspOutlet`.

It's ok just to check for equality to `Pd.core.portlets.DspInlet`/`Pd.core.portlets.DspOutl

[2015-11-30 01:30] shamansir commented on #89
I've realized that in my case I don't need library at all and I may use what `createObject` returned for this node also for inlet/outlet count/types etc., and so other users should prefer that way too. `instanceof` should work for inlet/outlet instances. Invalid.

[2015-11-30 01:30] #89 closed

[2015-11-30 07:14] sebpiq commented on #85
:+1:

[2015-11-30 09:47] #88 closed

[2015-11-30 09:54] sebpiq commented on #89
Yes, I think this is a better approach. I was also wondering why you need
library (appart from listing available objects)

On Mon, Nov 30, 2015 at 3:30 AM, Ulric Wilfred <notifications@github.com>
wrote:

--

*Sébastien Piquemal*

 -----* @sebpiq*
 ----- http://github.com/sebpiq
 ----- http://funktion.fm

[2015-12-04 10:01] shamansir opened #90 "Sending default dollar-value from message node"
Hi! I am not sure if it's a bug, may be I just need an advice.

The phasor example below has a message node, which has `$1 1000` in it. In PD's Edit Mode, by default, if you click this message with attached `print` node, it will print out `print 0 1000`. I see there is [some resolver](https://github.com/sebpiq/WebPd/blob/fe9d61d7f2f672986727af9c56a7330018d02b06/lib/glue.js#L102) in the message nod

[2015-12-06 23:22] shamansir commented on #90
I managed to get it working it in my model with fixing message flow between nodes in shamansir/rpd#240. Resolving logic is correct in my case. Sorry for one more invalid issue.

[2015-12-06 23:22] #90 closed

[2015-12-07 09:00] sebpiq commented on #90
no worries :) better invalid issues that issues that go unnoticed!

[2015-12-10 11:31] 821760408-sp opened #91 "examples won't work on iPhone in iOS 9.1"
The latest WebPd won't work on iPhone in iOS 9.1--it stuck on "Loading.." in both Chrome and Safari.

It works on my iPad running iOS 8.4, so my guess it's an iOS version issue?

[2015-12-10 11:51] sebpiq commented on #91
oooh ... I thought all was fixed with iOS :((
I can't really debug, as I don't have a device myself, which makes things really complicated. I'll try to get this fixed asap. But without help it'll probably take couple of weeks before I can get my hand on a test device.

[2015-12-10 12:03] sebpiq commented on #91
Hey I have tried with online emulator (saucelabs) on iOS 9.1 , and it seems to work passed "loading". The emulator doesn't support sound, so I can't hear whether this actually works or not, but at least it manages to load properly. Have you tried all examples? Have you tried cleaning your browser cache (that could be the problem if you have tried WebPd examples before I fixed them about a month ag

[2015-12-10 18:15] 821760408-sp commented on #91
I tried cleaning my browser cache and that didn't help. I also tried using different iPhones (5 & 6 plus) on iOS 9.1 and those won't work either. The iPhones that didn't work were running AppleWebKit/601.1.16 and were stuck on loading pd files, while the iPad that worked were running AppleWebKit/600.1.4

[2015-12-11 09:21] sebpiq commented on #91
Ah :/ no luck. It was worth trying!
So yeah ... I'll fix that but I need a device first. iOS has really been a troublemaker.

[2016-01-14 08:54] uraltermann commented on #51
that would be great!

[2016-01-30 08:16] sebpiq commented on #51
I'll do it next week :) thanks!

[2016-02-04 22:30] sebpiq commented on #51
done 6938c2e8108f98140a1721fdb54204b8cf0b2f08

[2016-02-04 22:30] #51 closed

[2016-02-23 10:54] sebpiq opened #92 "Function for starting WebPd in a cross-browser way"
Right now there are problem, especially with iOS, which force to use this annoying thing : https://github.com/sebpiq/WebPd/blob/gh-pages/examples/assets/examples.js#L6

A function to make this easier would be very useful.

[2016-02-24 08:27] sebpiq commented on #92
maybe this could be useful : https://github.com/tambien/StartAudioContext

[2016-03-03 18:17] meta-meta commented on #82
This is what I came here for. Glad it's on the horizon. How much thought has been put into an implementation? I wouldn't mind taking a crack at it.

[2016-03-04 08:00] sebpiq commented on #82
This is actually pretty straightforward. This just made me think that there is a bug here which needs fixing.

[2016-03-04 09:46] sebpiq commented on #82
done 3938dbed10d5c28c3a81fe54a9074fe943922132

See :
https://github.com/sebpiq/WebPd#connecting-a-patch-outlet-to-an-external-web-audio-node

There is still a bug if the patch has several [outlet~] objects though : https://github.com/sebpiq/pd-fileutils/issues/28

[2016-03-04 09:46] #82 closed

[2016-03-04 09:47] sebpiq opened #93 "portlets order is not respected when opening an abstraction"
See : https://github.com/sebpiq/pd-fileutils/issues/28

[2016-03-04 10:46] meta-meta commented on #82
whoa that's some turnaround time! I was confused for a second when I couldn't find the issue in the open issues list. :astonished:  I spent the day getting positional audio working properly in aframe.io - next up, PD in WebVR!

[2016-03-04 11:42] sebpiq commented on #82
Awesome :) keep me updated that sound great!!!

And beware with #93 !

[2016-03-13 18:56] caltivan opened #94 "Invalid [line~] duration"
Hi
I have been trying to use the webpd with the patch that i created for android and i get the error:
Invalid [line~] duration when i'm doing the instruction.

var patch
        $.get('patches/player_C3.pd', function(patchStr) {
          patch = Pd.loadPatch(patchStr)
          Pd.start()
          //webPdExamples.patchLoaded(patchStr);
          console.log(patch);
          Pd.send('loadNotesC3

[2016-03-31 10:04] sebpiq commented on #94
Hi @caltivan! And sorry for the super slow answer... Could you please send me the patch, so I can have a look?

[2016-04-09 22:46] caltivan commented on #94
Hi

Im attaching the patch

Thanks for the help

Regars

2016-03-31 5:04 GMT-05:00 Sebastien Piquemal <notifications@github.com>:

[2016-04-23 11:23] Drumaddict182 opened #98 "Firefox "event expired""
Hello everyone,

Since the last update of Firefox i have the message "event expired" for the Webpd script and i don't have any sound from my Pure Data Patches.

Someone has the same problem ? Someone know a solution for this issue ?

Thanx.

![webpd_error](https://cloud.githubusercontent.com/assets/18629243/14761092/7f7dc64a-0956-11e6-91e3-aba85831de55.jpg)

[2016-04-25 13:19] #78 closed

[2016-04-25 14:50] sebpiq commented on #98
Yes indeed ... same problem here. I will fix it asap

[2016-04-25 16:07] sebpiq commented on #98
It would help also if you could send me your patch please!

[2016-04-25 16:41] Drumaddict182 commented on #98
Hi thanks very much for the answer.

Here are my three patches i'm using in my website.

2016-04-25 18:07 GMT+02:00 Sebastien Piquemal <notifications@github.com>:

--
Alexis MATTON
Sound Designer Freelance
http://alexismatton.com/

#N canvas 0 0 1676 967 10;
#X obj 120 400 osc~ 528;
#X obj 120 197 *~;
#X obj 493 400 osc~ 44;
#X obj 307 468 +~;
#X obj 1089 921 dac~;
#X obj 120 333 +~ 30;
#X obj 493

[2016-04-25 16:43] sebpiq commented on #98
I didnt receive them!

[2016-04-25 16:51] Drumaddict182 commented on #98
Sorry. Is it good now ?

[patches.zip](https://github.com/sebpiq/WebPd/files/234995/patches.zip)

[2016-04-25 17:41] sebpiq commented on #98
Ok, I believe it should be fixed now. Could you please try with the latest build https://raw.githubusercontent.com/sebpiq/WebPd/master/dist/webpd-latest.js and tell me if things seem to be working now? Thanks!

[2016-04-25 17:48] Drumaddict182 commented on #98
It works ! You are a hero !
Thanks you so much.

[2016-04-25 17:53] sebpiq commented on #98
Yeeeeey!!! You're welcome :)

[2016-04-25 17:53] #98 closed

[2016-04-26 14:41] sebpiq commented on #94
oops, closed by mistake

[2016-04-26 14:44] sebpiq commented on #94
hey @caltivan any chance you could resend the patch? Maybe open it and paste it either here or somewhere online. Thanks!!!

[2016-04-26 16:00] caltivan commented on #94
Hi
sorry i have re attach the patch

Regards

2016-04-26 9:44 GMT-05:00 Sebastien Piquemal <notifications@github.com>:

[2016-04-26 16:03] sebpiq commented on #94
@caltivan if you're sending the patch as an email attachment it won't go through. You need to paste it somewhere or send it to my email directly sebpiq@gmail.com

[2016-05-10 15:15] sebpiq opened #100 "[bp~ ] different in Pd and web audio"
Different interpretation of Q?
Q in decibels?

[2016-06-16 19:54] taylorbf opened #101 "Dynamically adding objects to WebPD patch model"
Hi @sebpiq , you mentioned that there is an API for dynamically adding objects to the WebPD patch model from the client side, although maybe undocumented. Could you post a small example of this or point me to a function in the code that could help? Can WebPD calculate the inlets/outlets for a new object or does it get that data from the PD file?

[2016-06-18 13:13] sebpiq commented on #101
Hi Ben!
I finally got myself to write some docs for it : https://github.com/sebpiq/WebPd#api
Please have a look and tell me if this is helpful ;) or if you have any comment ...

[2016-06-18 13:13] #101 closed

[2016-06-18 14:26] taylorbf commented on #101
Wicked, thanks!

[2016-06-23 19:23] grav commented on #91
Works on my iPhone 6 running iOS 9.3.2

[2016-06-23 22:36] sebpiq commented on #91
Yes I have seen it working on ios 9.2 too ... I guess I was just waiting for a confirmation. I'lt close the issue now.

[2016-06-23 22:36] #91 closed

[2016-07-27 08:31] sebpiq opened #102 "method to get supported formats and select the best one depending on platform"

[2016-08-11 16:56] sebpiq opened #103 "[sig~] -> [lop~] not working on Chrome"
Connecting [sig~] -> [lop~] doesn't produce the expected result on chrome.

[code]

[2016-08-13 14:50] sebpiq opened #104 "Bug with abstractions"
See attached patches :

Abstraction `looper-abs` :

[code]

Root patch :
[code]

[2016-08-24 09:52] #104 closed

[2016-08-26 05:19] meta-meta commented on #82
well, I finally got around to trying this out. Here's my initial progress: https://meta-meta.github.io/aframe-puredata-component/basic/

two very simple PD patches loaded in a THREE.js scene!

[2016-09-23 09:38] Drumaddict182 opened #105 "WebPd broken with latest Chrome release"
Hi,
since a few weeks my pure data patches don't play right with Chrome, you can hear a really loud noise instead of nice tones.

With Firefox everything is OK.

Someone has the same issue ? Someone know a solution ?

Here is my patch.
[drone.zip](https://github.com/sebpiq/WebPd/files/489314/drone.zip)

Thanks a lot.

[2016-09-23 11:18] Drumaddict182 commented on #105
I have found what the problem is. It's the line~ object who destroy everything.

[2016-09-23 13:26] sebpiq commented on #105
Ok I will have a look at this asap! Thanks for reporting the issue.

[2016-09-26 20:53] sebpiq commented on #105
Hey! Could you tell me what version of Chrome you have? It works fine on my Chromium 52.0.2743.116 on Ubuntu!

[2016-09-27 07:47] Drumaddict182 commented on #105
Hi,
I'm using the 53.0.2785.116 m version of chrome on windows 10 and i have
also noticed that it works fine with chromium.

Thanks.

2016-09-26 22:53 GMT+02:00 Sebastien Piquemal <notifications@github.com>:

--
Alexis MATTON
Sound Designer Freelance
http://alexismatton.com/

[2016-09-27 09:17] sebpiq commented on #105
Yes I installed latest stable chrome and I managed to reproduce the problem. I will try to fix it today

[2016-09-27 11:31] Drumaddict182 commented on #105
Arigato gozaimashita !

2016-09-27 11:17 GMT+02:00 Sebastien Piquemal <notifications@github.com>:

--
Alexis MATTON
Sound Designer Freelance
http://alexismatton.com/

[2016-09-28 17:17] sebpiq commented on #105
ok ... these are the changes in chrome which are causing problem :

https://bugs.chromium.org/p/chromium/issues/detail?id=647974
https://github.com/WebAudio/web-audio-api/issues/771

I only just found about them, but I'll fix it soon.

[2016-12-19 14:54] nkynde opened #107 "reloading a patch"
when you load a patch using the loadPatch method it loads the patch on top of what has previously been loaded resulting in more patches playing simultaneously. is there a method for reloading or loading a different patch without reloading the entire page?

[2016-12-19 18:30] sebpiq commented on #107
Hi @nkynde you could destroy the patch and recreate it :

[code]

Is that what you mean?

[2016-12-20 10:13] nkynde commented on #107
Thank you very much .destroyPatch() is what I have been looking for it is not included in the API documentation

[2016-12-20 10:33] sebpiq commented on #107
You're right! I added it to the API doc! Thanks :)

[2016-12-20 10:33] #107 closed

[2016-12-22 21:39] bgenchel opened #108 "invalid connection 9.1 -> 34.0"
I got a patch load error with the above message. Not sure what it means, or how to remedy. Tips? Advice? Thanks!

[2016-12-25 23:28] sebpiq commented on #108
can you send me your patch? I might be able to help then :)

[2016-12-26 23:47] bgenchel commented on #108
how do I send it?

[2016-12-26 23:53] sebpiq commented on #108
you can send it to me by email : sebpiq@gmail.com

[2017-01-03 12:56] sebpiq commented on #108
Hi @bgenchel ! The error in your patch is simply that the second outlet of [vcf~] is not implemented yet in WebPd. I made a new commit which shoudl give clearer error messages for people in the future.

Meanwhile you can replace this with a simple low pass ...

[2017-01-03 12:56] #108 closed

[2017-01-19 10:42] sebpiq commented on #105
I am currently studying the possibility of making a full refactor, something I've wanted to do for a long time ... So I would get rid of many issues that cripple WebPd. Hang on :)

[2017-02-17 12:15] kristoferhagbard opened #109 "WebPd broken in chrome 53 to 57"
I have found that lop~ in some situations creates a very loud noise in chrome Version 56.0.2924.87 (64-bit) on OSX

Here is an example patch: (don't test with headphones!! :-) )

[Archive.zip](https://github.com/sebpiq/WebPd/files/783160/Archive.zip)

[2017-02-17 13:03] sebpiq commented on #109
Yes ... basically WebPd is completely broken with chrome between versions 53 and 57. This is because of this bug which they took ages to fix : https://bugs.chromium.org/p/chromium/issues/detail?id=647974

But I am preparing a completely new version on WebPd getting rid completely of Web Audio :)

[2017-02-17 16:48] sergiogranadamoreno commented on #109
@sebpiq :O

Can't wait for you to do that!

[2017-02-17 16:57] sebpiq commented on #109
@sergiogranadamoreno it's well on its way already ;) https://github.com/sebpiq/WebPd/tree/refactor-js

[2017-02-17 18:05] kristoferhagbard commented on #109
Looking forward to testing it! keep up the awsome work! (For now I got it working with the Heavy compiler from Enzien)

[2017-06-26 18:32] mattdiamond commented on #109
Did you mean getting rid of it just for DSP stuff? I'm checking out that branch and it seems like you're still using a ScriptProcessorNode to handle audio output (which makes sense). That part of the Web Audio API is staying in, right?

[2017-07-08 16:28] sebpiq commented on #109
@mattdiamond of course I can't get completely rid of Web Audio :) for now the `ScriptProcessorNode` will have to stay, and in the future, `AudioWorklet`.
For now, `WebPd` is working again with master branch in Chrome, as now most devices have version 57 or more.

[2017-09-30 18:46] batchku opened #110 "Examples don't work with Chrome or Safar"
Hello,
I'm trying to run the examples, using a python http server, but can't get anything going.
I'm testing with:
- Chrome Version 61.0.3163.100 (Official Build) (64-bit)
- Safari Version 11.0 (12604.1.38.1.7)
- OS X Sierra 10.12.6 (16G29)

I see errors like this in the terminal:
[code]

Is anyone succeeding in getting the examples to work?

[2017-10-01 10:57] sebpiq commented on #110
Are the online examples working in the same browsers?

[2017-10-01 11:11] mgsx-dev commented on #110
Do you running the python server in the right folder ?

`"GET /dist/webpd-latest.js HTTP/1.1" 404 -`

[2017-10-01 17:43] batchku commented on #110
Thanks for your quick response Seb.
I was able to get the setup running with your quick instructions; I have this html:
[code]

Put the `WebPd.js` and the`jquery.js` in a folder called `js` and my patch my `patches`, called `myPatch.pd`.  Makes sound!

Am I correct in thinking that the browser can also render the patch diagram for me?  Something special i need to do to make that happen?

[2017-10-01 19:13] sebpiq commented on #110
Yes! You need to use that library : https://github.com/sebpiq/pd-fileutils

You can see how I use to render a patch it in the examples : https://github.com/sebpiq/WebPd/blob/master/examples/assets/examples.js

[2017-10-01 19:13] #110 closed

[2017-11-11 20:53] timcombs opened #111 "$ variable in abstraction causes error"
I use reverb a lot in my patches.
So I rolled rev3~ [https://github.com/pure-data/pure-data/blob/master/extra/rev3~.pd] up into an abstraction for WebPd, but it crashes the patch on load.

I get this error:
[code]

which throws an error at getDollarResolver.

[code]

thoughts on a simple workaround?
thanks

[2018-03-03 05:12] itubiaoge opened #112 "Parsing a piece of code failed"
`#N canvas 37 416 358 107 10;
#X obj 282 22 hip~ 1000;
#X obj 87 22 bp~ 1200 0.6;
#X obj 180 22 bp~ 2600 0.4;
#X obj 0 22 bp~ 600 0.2;
#X obj 134 83 dac~;
#N canvas 27 401 450 300 firegen 0;
#N canvas 0 0 242 473 crackles 0;
#X obj 64 394 *~;
#X obj 77 104 env~;
#X obj 77 80 lop~ 1;
#X msg 128 170 bang;
#X obj 77 127 moses 50;
#X obj 128 148 moses 51;
#X obj 128 193 random 30;
#X obj 128 237 line~

[2018-03-04 17:15] itubiaoge commented on #112
webPd is not support bp~ object ?

[2018-05-07 22:07] sinewave440hz opened #113 "Are there plans to maintain this project?"
This is a very interesting project, nice work. What is the current status? Are there plans to maintain it and/or would you be open to PRs or, worst case, relinquishing control to another maintainer...?

[2018-05-12 07:44] MacroMachines commented on #113
I am curious as well, this is so cool and I was just referencing it in the Heavy javascript examples.  One option could be to offer it up to Heavy and they could be the go-to guys for PD conversion/running on platforms.  Just a thought.

[2018-05-15 07:42] sebpiq commented on #113
Hi all!

Unfortunately, the past year or so I haven’t been able to do any music, nor maintain any of my open source projects. And sadly, I don’t see the situation changing in the near future.

Also, I don’t believe that the current way WebPd is implemented is sustainable (a bunch of hacks on top of web audio api). I had started a refactor to web assembly (see the branches) with a working proof of

[2018-05-15 07:44] #109 closed

[2018-05-15 07:46] #105 closed

[2018-05-15 07:50] sebpiq commented on #113
(Small correction : I did receive a few contributions here and there, for example midi support, and I want to thank again these people 💪)

[2018-05-17 10:46] artelse commented on #113
I've recently found Purr Data, a version of Pd with a Javascript/Node/SVG frontend build on nw.js. Now that there is a working webtech frontend to Pd, perhaps webPds audio backend can be bolted together somehow?

[2018-05-17 11:01] sinewave440hz commented on #113
I haven't had the chance to try it yet, but the Heavy compiler can generate javascript too, so we already have an alternative there. Perhaps it's not a workflow that suits everyone, but it's a good start...

[2018-05-17 11:48] artelse commented on #113
Tried to find Heavy, do you have a link?

[2018-05-17 11:49] sinewave440hz commented on #113
Enzien audio have developed it: https://enzienaudio.com

[2018-06-16 22:47] jo-pamo opened #114 "Network sending data"
Hi sebiq thanks so much for your work. It’s been really useful a couple of time.

Right know I was wondering whether there’s a way to use OSC protocol on WebPd, or perhaps you know a way to get data in a patch coming from several devices via node.js?

Thanks in advance

[2018-12-10 16:43] diegovincent opened #115 "FFT inplementation"
I would like to use the FFT with WebPD but is not implemented and I cannot find the source .pd file to load it as an abstraction online. Could you please help me?

[2020-01-14 18:05] sebpiq commented on #113
I'm happy to announce that I will pick up the work on WebPd and spend the whole month on March modernizing the project.

The plan is to give up the use of Web Audio nodes and to focus on using [AudioWorklet](https://webaudio.github.io/web-audio-api/#audioworklet). This audio worklet will run a bunch of optimized DSP functions which will be compiled with [WebAssembly](https://webassembly.org/).

Th

[2020-01-14 18:27] sinewave440hz commented on #113
Fantastic! Would love to get involved if you’re interested...

[2020-01-15 10:52] sebpiq commented on #113
@sinewave440hz sure that would be awesome ! First I'll lay out the bases and then you can tell me what you would be interested in helping with :)

[2020-01-15 11:49] mgsx-dev commented on #113
Hi, @sebpiq that's great news :-)
I maintain a [library](https://github.com/mgsx-dev/gdx-pd) for a video game framework (mainly a libpd wrapper) and i would be glad to support HTML/JS platform as well. I made few experiments some times ago but there was too many limitations and differences so i can't include it.
I think WebAssembly implementation could give some good results and overcome those lim

[2020-02-06 19:10] bever1337 commented on #113
@sebpiq Thank you for putting in so much time and energy.

I'm also interested in contributing to the project! I know you're only just beginning this refactor, but are there any areas where extra contributors would be helpful? I have more experience in networking and web engineering than DSP specifically, but seeing those fields overlap is super exciting. Have you identified the language you want

[2020-02-06 19:22] sebpiq commented on #113
Thanks @mgsx-dev and @bever1337 ! I haven't started the work yet (it will happen over March). But I'll post something in this thread once I know more about where help would be needed :)

[2020-02-17 20:42] sinewave440hz commented on #113
I’ve been playing a bit with web audio and am raring to go here, when the time is right. Just so you know :)

[2020-02-18 05:04] Jonathhhan commented on #113
Hi, i am working on something that is perhaps related. Better to say I use Ofelia (Open Frameworks and Pure Data) with Emscripten. My part was mainly creating the interaction between Javascript and Emscripten. So until now you can load audio files (up to a few minutes) and images and send and receive MIDI data with webMIDI.
Here is a test:
https://pdspectrum.handmadeproductions.de/
https://pdmidi.

[2020-04-21 07:51] jonlab opened #117 "Any idea/hints for multi-patches support?"
Hi there,
Great project, thanks for all this hard work!

What would be the best approach for multi-patches support? It is not clear from my tests if WebPD supports this. I need to dig more in the code, but It seems that when I load several patches the output becomes kind of distorted.

Use cases could be :
-several patches, totally independants (each in their own "sandbox"). Think "instancing". Se

[2020-04-21 07:52] jonlab commented on #113
That is great! Any news?

[2020-04-22 11:10] sebpiq commented on #117
Hi @jonlab ! Normally multiple patches should work fine, but as you saw yourself : #68 there's going to be a lot of change anyways. All these use cases will be supported without any problem.

[2020-04-22 11:14] sebpiq commented on #113
Hi everyone! So a little status update. I have started the refactoring, restructured a bit the base functionality of the library. I want to make things as modular as possible, so I have started separating the code, and rewriting large parts of it :

https://github.com/sebpiq/WebPd_pd-renderer
https://github.com/sebpiq/WebPd_shared
https://github.com/sebpiq/WebPd_pd-parser

More modules will come,

[2020-04-22 13:42] phi9 commented on #113
Good luck with your thesis.(((φ)))On Apr 22, 2020 4:15 AM, Sebastien Piquemal <notifications@github.com> wrote:
Hi everyone! So a little status update. I have started the refactoring, restructured a bit the base functionality of the library. I want to make things as modular as possible, so I have started separating the code, and rewriting large parts of it :
https://github.com/sebpiq/WebPd_pd-rend

[2020-05-02 22:19] Abdallh7 opened #118 "Cross-Origin Request Blocked"
i try to apply the Webpd on my PC using XAMPP local host instead of python but i had a problem on my browser chrome and firfox , when i try to run one of the examples there nothing shows up only show loading... word , when i see the console show this message

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at file:///C:/Users/Exhibits/Desktop/WebPd-master

[2020-05-28 13:39] jonlab commented on #113
Hi Sebastien!
I hope your master's thesis went well.
any update on the refactoring of WebPd?

[2020-06-11 17:08] sebpiq commented on #113
Hi @jonlab !

Thesis is now defended and out :) I've just [restarted the work](https://github.com/sebpiq/WebPd_dsp-graph) on WebPd after a few days rest. As it is on my free time, I can't give an estimate on how fast the work will go, but I'll spend a significant portion of my time on it in the next weeks.
I'll keep everyone updated here.

[2020-06-26 19:47] jhoefs commented on #113
Sebastien - first thank you so much for making WebPD possible, it's an amazing addition to the community.

Congratulations on your successful thesis defense - I have a Phd, and so know how laborious, unpredictable, and did I say unpredictable? that process can be

Q - I have a web app ready to be deployed whenever the new Web PD runtime is released. It uses fiddle~ - is fiddle~ going to be support

[2020-06-30 12:35] sebpiq commented on #113
Hi @jhoefs !

Unfortunately, the main objective for now is to first try to implement all the objects there previously was in older WebPd version.

fiddle~ is a bit on the more complex side dsp-wise, so it is not really a priority.

That being said, there will also be a simple plugin system, so if you are up for it you will be able to implement your own pitch following / onset detection algo :)

[2020-07-03 15:40] jhoefs commented on #113
Definitely.

And, as I understand it, there is a way to load pd externals into WebPD - correct me if I am wrong, that is possible, isn't it?

In which case, helmholtz~ or something similar could be loaded into WebPD, and then building the appropriate data analysis on top of that to create the same (and probably customized :]) functionality as fiddle~ is pretty trivial, as it is just parsing number

[2020-07-04 14:47] sebpiq commented on #113
web into a sea of dynamic sound....

Looking forward to see this happen 😄💟

correct me if I am wrong, that is possible, isn't it?

Hmm ... it's more complicated than that. You can't directly load existing
externals into WebPd as the existing externals are implemented in C and
compiled. One would need to reimplement (or repackage) existing externals
so that they can run in the browser and in WebPd.

[2020-07-28 01:31] theotherjenkutler commented on #114
I am also interested in being able to use netsend and netreceive objects within the browser with node.js. Thank you for your hard work, sebiq.

[2020-08-16 19:02] marnen commented on #113
I’d be interested to help out. I’m an experienced software developer and composer, and a moderately experienced Pd user, and I’d like to work on this to increase my knowledge of how to implement DSP. What would be a good place to start helping!

[2020-08-18 23:43] salem1loves1u opened #119 "webPD GUI doesn't work in Chrome?"
Uploaded couple of my own patches/tested examples and none of the GUI elements are interactive (sliders, floats, number parameters). I don't see any errors in the Chrome console and even the examples in the github repo seem to not be interactive.
Not sure if there is some Chrome framework that is broken or if the just hasn't been updated.

Hope to hear back! 👍

[2020-08-28 16:44] sebpiq commented on #119
Sorry for the slow answer! Yes, that GUI has confused some people. It is read-only, it is not interactive

[2020-08-28 17:11] sebpiq commented on #114
Hi @jo-pamo and @theotherjenkutler

Sorry for being so sloppy with answering questions :sob:

So netsend and netreceive are a bit out of the scope of the project for now. This said, this being the web, it is very easy (if you know a tiny bit of programming) to send and receive data. WebPd has an API to send / receive data to / from JavaScript : https://github.com/sebpiq/WebPd#pdreceivename-callbac

[2020-08-28 17:22] sebpiq commented on #113
I am awfully late in the work, so sorry about that ... but now I have again a bit of free time between 2 paid projects, and will continue the work. It is long overdue that I manage to divide the work and enable other people to help in this huge project !!! And I'm so happy that so many people are interested in helping to make WebPd finally happen :yum:

@sinewave440hz @mgsx-dev @marnen @bever1337

[2020-08-28 17:31] marnen commented on #113
Yes, I'm very experienced with JavaScript, and I've used TypeScript a bit in the past.

[2020-08-28 19:12] sebpiq commented on #113
Ok perfect! I'll set up something for collaboration then !!!

On Fri, 28 Aug 2020, 12:31 Marnen Laibow-Koser, <notifications@github.com>
wrote:

[2020-10-04 19:22] giulianobici commented on #113
I'm happy to hear this project will continue. I was working last week with the examples, and it looks excellent. I am still learning more about "Webpd". Anyway, it's promising for different artistic projects, and I am migrating a couple to "Webpd". Congratulations on the project.
I am looking forward to the news.

[2020-10-04 19:34] giulianobici commented on #61
It would be great to have the object [route] implemented.

[2020-10-17 17:23] ok-very commented on #113
Also simply here to express interest and the hope that this will continue to develop, thanks for the interesting project!

[2020-11-05 13:37] teakaytee opened #120 "Can't seem to figure out why this doesn't work...any ideas?"
[myPatch.txt](https://github.com/sebpiq/WebPd/files/5494713/myPatch.txt)

[2020-11-28 23:07] vortextemporum commented on #113
Keep up the great work! I am very excited about this project

[2020-12-12 15:25] nkleemann commented on #113
Just posting to let you know that your work does matter and I'm very excited about your progress. :)

[2021-01-01 20:24] meta-meta commented on #113
I'm thankful this project exists and excited to see where it goes next!

[2021-02-09 09:26] designerfuzzi commented on #113
great work.

If i share my simple externals to calculate midi values back and forth
which consequently named:
"**oneto**" transforms values from 0..1 to 0..127 or other spans if given and wise versa
"**mto**" transforms values from 0..127 to 0..1 or other value spans if given..
Both methods are just missing in vanilla despite they are heavy used when patching for midi.
That way Your webPD-WebAssem

[2021-04-18 14:55] mickeyvanolst commented on #113
So excited to see this :-) I'm actually hoping to use this in combination with https://cables.gl/ has anyone tried stuff like this?

[2021-06-05 03:02] droussel commented on #113
Hi @sebpiq,

I was wondering what was the state of the rewrite was? I looked at the various Webpd_* repos to try to wrap my head around the applications architecture but I'm not sure what the state of things are and where I could begin hacking at things. And also, are you still planning to make progress on this on your end as well?

Thanks!

[2021-06-07 17:14] sebpiq commented on #113
Hi all !

I haven't given up on finishing the rewrite work. In fact it is not so far off I believe. I've had issues finding time to work on it, mostly because this is on my free time, and I haven't had any in the past months.

My goal for WebPd in the coming months, is :

- Have a small crowdfunding campaign, target 2000$, so that I can focus on this and nothing else for 1 - 2 months
- Start build

[2021-06-09 20:22] bever1337 commented on #113
@sebpiq Awesome news! I'm still around to help contribute so I'm excited to see what's coming. Have you started setting up any workspaces for collaboration or is that still in the works?

I look forward to seeing the crowdfunding page too, and I'll be glad to kick in what I can.

[2021-06-19 15:47] brizolara commented on #120
Hi Tom,

If you let just one [pd one] around, the patch works. looks like webPd isn't working correctly with muliple subpatches of the same name...

I'd consider opening an Issue ;)

[2021-06-19 15:55] brizolara opened #121 "Arrays not being displayed"
[EDIT] Sorry, this is an issue with pd-fileutils, in fact. Closing issue here.

Hi all,

Arrays are not displayed.. They show up simply as a box with the word "graph" written in it...

Anyone else with the same issue?

Tiago

[2021-06-19 23:16] #121 closed

[2021-07-26 17:31] tmartinez88 commented on #113
Hey folks! I'd be happy to contribute if possible. I'm specifically interested in getting the ifft~ and block~ objects working to get spectral processing working on the web. Let me know how I might be of service.

[2022-01-23 03:36] atosystem commented on #118
You should use `http://localhost/...` instead of `file:///...` because your webpage is served at hostname='localhost' not 'file'.

Or, there is a workaround: You can install Google Chrome plugin [Allow CORS: Access-Control-Allow-Origin](https://mybrowseraddon.com/access-control-allow-origin.html).

However, allowing cross-origin may expose your PC in security issues.

[2022-04-08 09:18] sehnsucht opened #123 "loadad patch has no issues but doesn`t sound"
![browser](https://user-images.githubusercontent.com/1922009/162151603-08647249-8443-4e84-b803-fa2b5584a380.PNG)

Hello!

I am trying, unfortunately in vain, to get a pd patch to work in the browser. It starts quickly and correctly shows the main patch in the browser window.

The console of the developer tools of the different browsers (chrome/brave/firefox) does not find any error, nevertheless t

[2022-06-15 14:03] sebpiq commented on #113
**TL;DR : Faster, better, stronger, WebPd 1.0 is coming (featuring WebAssembly, Audio Worklet and more) ... but it needs your support !**

**WebPd** is a highly modular web audio programming toolkit inspired by **Pure Data**.

→ **it allows Pure Data patches to run in web pages**, therefore enabling non-programmers (artists musicians, etc ... ) to design live and interactive audio for the web.

→

[2022-06-15 14:23] marnen commented on #113
@sebpiq I understand that you want to raise money to help this project survive, but I’m not sure that dumping your entire funding appeal into this discussion with developers who would like to contribute code to this project was all that helpful.

What I’d like to see in this thread is some idea of what needs to happen *from a developer point of view* and how we might be able to be helpful in that

[2022-06-15 14:52] marnen commented on #113
It does clarify things, but I think you may underestimate how much help you could get from the community if you’d ask for it.

You say that it’s impossible for others to help, but why? Wouldn’t it be possible for others to discuss these designs with you? That way you can talk through the harder problems with other folks with expertise, and you won’t be the only one who understands the design once

[2022-06-15 15:04] sebpiq commented on #113
That's a good point ! I guess I'm so used to not getting help on this, even though I did try at some point that I am not expecting it anymore :sweat_smile: Also ... it does take a massive amount of time.

Here is an overview of the design I am working on at the moment :

- [@webpd/pd-parser](https://github.com/sebpiq/WebPd_pd-parser) : Parser for pd files. Parses a `.pd` file into a `PdJson` forma

[2022-06-15 15:06] marnen commented on #113
I think you may have e-mailed me rather than posting this on GitHub.

On Wed, Jun 15, 2022 at 11:04 AM Sebastien Piquemal <
***@***.***> wrote:

--
Marnen Laibow-Koser
***@***.***
http://www.marnen.org

Sent from Gmail Mobile

[2022-06-15 15:15] sebpiq commented on #113
That's a good point ! I guess I'm so used to not getting help on this, even though I did try at some point that I am not expecting it anymore :sweat_smile: Also ... it does take a massive amount of time.

Here is an overview of the design I am working on at the moment :

-------------------

- [@webpd/pd-parser](https://github.com/sebpiq/WebPd_pd-parser) : Parser for pd files. Parses a `.pd` file

[2022-06-15 17:08] marnen commented on #113
That’s useful. I’d suggest that it would be helpful to have the README files for each subproject a little clearer about what the project does. For example, I just looked at pd-parser, and I only knew what it does because of your description here—there was nothing on the project itself that described it. That’s probably a barrier to contribution; folks are not going to contribute code if they don’t

[2022-06-18 21:13] dfl commented on #113
Thanks for the update!
I wonder if it might be possible to leverage some of the development already done with Faust?
https://dl.acm.org/doi/fullHtml/10.1145/3184558.3185970
If one could compile a Pd graph to Faust Imperative Representation, then the rest of the chain would be good to go.
I can’t find any documentation on FIR however, other than a mention of its existence. Perhaps the people at GRA

[2022-06-21 16:44] sebpiq commented on #113
@marnen I'll do it very soon ! I have just changed again the repository structure, so I want to get this right first :)

@dfl yes ! That was actually one of the options I looked into. I even had a call with Stephane Letz who is one of the main developers behind Faust.
In the end I decided to not go with this :
- I didn't want to end up in the same situation as now (with Web Audio), where I have to

[2022-09-09 15:31] sebpiq commented on #113
Hi @designerfuzzi ! Sorry for the massively slow answer ...

Yes ! That's exactly right.

if I'd only wanted compatibility between web browser and Pd, there are already a bunch of projects. For example a WebAssembly build of the whole Pd : https://github.com/cuinjune/purr-data

**WebPd on the other hand is a toolkit, it does NOT aim to become a full-blown programming environment** (Pd does that we

[2022-09-13 18:53] Jonathhhan commented on #113
@designerfuzzi sorry for hijacking this thread (maybe we can discuss it somewhere else - if you want to an have time). I optimized Open Frameworks for running it with Emscripten (also with the aim to run PD patches in the browser). For that I implemented audioWorklets and webMIDI. First I am interested in general thougths about that approach, and second, it would be great if you can check out my w